<h2>Album Search:</h2>

<form action= "/album/display" method="post">
<fieldset>
  <legend>Search Album Name:</legend>
  Album name:
  <input type="text" name="album_name">
  
  <input type="submit" value="Submit">
</fieldset>
</form>
<br>

