<h2>Add Album To Database</h2>

<form action= "/album" method="post">
<fieldset>
  <legend>Add Album:</legend>
  Artist name:
  <input type="text" name="artist_name">
  <br>
  Album name:
  <input type="text" name="album_name">
  <br>
  Genre:
  <input type="text" name="genre">
  <br>
  Quantity:
  <input type ="number" name="quantity">
  <br>
  <input type="submit" value="Submit">
  </fieldset>
</form>


